<h1 class="home-title">League of Legends - lolin.fo</h1>

<hr class="in-title">

<h2 class="home-subtitle">Gameplay Highlights</h2>
<iframe class="highlights" src="https://www.youtube.com/embed/AIZ1X-m6uV8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe class="highlights" src="https://www.youtube.com/embed/TcY5agi49Jg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>