<h1 class="home-title">League of Legends - lolin.fo</h1>

<hr class="in-title">

<h2 class="home-subtitle">Gameplay Highlights</h2>
<iframe class="highlights" src="https://www.youtube.com/embed/AIZ1X-m6uV8?playlist=AIZ1X-m6uV8&autoplay=1&loop=1&mute=1&controls=0" frameborder="0" allow="accelerometer; loop; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe class="highlights" src="https://www.youtube.com/embed/TcY5agi49Jg?playlist=TcY5agi49Jg&loop=1&autoplay=1&mute" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
