.faveChamps-title
{
  margin-top: 4vw;
  font-size: 3vw;
  margin-left: 5vw;
  margin-right: 7vw;
}

.faveChamp-cards
{
  margin-left: 5vw;
  margin-right: 4vw;
}

.each-faveChamp-card
{
  background-image: url("../images/champ-card-bg.jpg");
  background-size: 100%;
}

.faveChamp-name
{
  font-size: 2vw;
  margin-top: 0;
  margin-bottom: 0.5vw;
  color: black;
}

.faveChamp-stats
{
  margin-bottom: 0;
  color: black;
  font-size: 1.4vw;
}

.faveChamps-splash
{
  width: 100%;
}

.faveChamps-buttons
{
  display: flex;
  justify-content: center;
}

.faveChamp-form
{
  width: fit-content;
  margin: 0 0.5vw;
  font-size: 1.3vw;
}

.faveChamps-changeTop
{
  display: flex;
  justify-content: center;
  margin-bottom: 1vw;
  font-size: 1.3vw;
}