.home-title
{
  margin-top: 4vw;
  font-size: 4vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  justify-content: center;
}



/* STYLING FOR HOME PAGE HIGHLIGHTS */
.home-highlights
{
  margin-left: 5vw;
  margin-right: 7vw;
  margin-bottom: 1vw;
  display: flex;
  justify-content: center;
}

.highlights
{
  width: 60vw;
  height: 34.5vw;
  margin: 3vw;
  margin-left: 18.4vw;
}
/* STYLING FOR HOME PAGE HIGHLIGHTS */



/* STYLING FOR HOME CHAMPION IMAGES */
.home-champions
{
  margin: 4vw;
  margin-right: 4.2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
}

.home-champs
{
  margin: 0 4.2vw 2vw 4vw;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  color: rgb(255, 215, 130);
}

.home-champs:hover
{
  color: rgb(255, 215, 130);
}

.home-champs-splash
{
  display: flex;
  justify-content: center;
}

.home-splash-art-1, .home-splash-art-2, .home-splash-art-3, .home-splash-art-4, .home-splash-art-5
{
  width: 17vw;
  padding: 2vw;
}

.home-splash-art-6, .home-splash-art-7, .home-splash-art-8, .home-splash-art-9, .home-splash-art-10
{
  width: 17vw;
  padding: 2vw;
}

.home-splash-img
{
  width: 17vw;
  border: 0.6vw white solid;
}
/* STYLING FOR HOME CHAMPION IMAGES */



/* STYLING FOR HOME GAME MODES */
.home-modes
{
  margin: 4vw;
  margin-right: 4.2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
}
/* STYLING FOR HOME GAME MODES */



/* STYLING FOR HOME SPLASH ART */
.home-splashes
{
  margin: 4vw;
  margin-right: 4.2vw;
  margin-bottom: 2vw;
  font-size: 2.5vw;
  display: flex;
  justify-content: center;
}

.splashes
{
  margin-left: 5vw;
  margin-right: 4vw;
  margin-bottom: 4vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.splash-img
{
  height: 23vw;
  object-fit: cover;
  border: 0.5vw white solid;
}

.splash-art-1,.splash-art-2
{
  flex: 25%;
  padding: 1.7vw;
}

.splash-art-3,.splash-art-4
{
  flex: 25%;
  padding: 1.7vw;
}

.splash-art-5,.splash-art-6
{
  flex: 25%;
  padding: 1.7vw;
}

.splash-art-7,.splash-art-8
{
  flex: 25%;
  padding: 1.7vw;
}

.splash-author
{
  padding-bottom: 0;
}

.splash-author-text
{
  text-shadow: 0 0 5vw black;
  font-size: 1.5vw;
  margin-bottom: 0;
}
/* STYLING FOR HOME SPLASH ART */