/* ONE CHAMP STYLING */
.champ-head
{
  margin-left: 5vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.champ-head>h1
{
  font-size: 3vw;
}

.faves
{
  margin-left: 1vw ;
}

div.champ-lore-image
{
  height: 40vw;
}

.lore-title
{
  position: absolute;
  margin-left: 5vw;
  max-width: 25vw;
  font-size: 1.7vw;
}

.lore
{
  position: absolute;
  margin-top: 3vw;
  margin-left: 5vw;
  max-width: 25vw;
  font-size: 1.2vw;
}

.oneChamp-image
{
  position: absolute;
  max-width: 60vw;
  margin-left: 35vw;
}

.basic-stats
{
  position: absolute;
  margin-top: 29.25vw;
  margin-left: 5vw;
  font-size: 1.7vw;
}

.champ-base
{
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 32vw;
  margin-left: 5vw;
  font-size: 1vw;
}

.abilities
{
  margin-top: 4vw;
  margin-left: 5vw;
}

.all-abilities
{
  display: flex;
  justify-content: center;
}

.all-abilities>div
{
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  margin-bottom: 3vw;
  margin-right: 4vw;
  width: 15vw;
}

.all-abilities>div>img
{
  width: 15vw;
  object-fit: cover;
}

.all-abilities>div>h4
{
  display: flex;
  justify-content: center;
  width: 15vw;
  font-size: 1.25vw;
}

.skin-slides
{
  width: 70vw;
  margin-top: 3vw;
  margin-left: 14vw;
  margin-bottom: 4vw;
}

.skins
{
  display: flex;
  justify-content: center;
  font-size: 2.25vw;
  margin-top: 1vw;
  margin-left: 30vw;
  margin-right: 30vw;
}
/* ONE CHAMP STYLING */