.profile-title
{
  margin-top: 4vw;
  font-size: 3vw;
  margin-left: 5vw;
  margin-right: 7vw;
}

.profile-subtitle
{
  margin-top: 2vw;
  margin-bottom: 1.2vw;
  font-size: 2.3vw;
  margin-left: 5vw;
  margin-right: 7vw;
}



/* STYLING FOR STATS ON PROFILE */
.profile-stats
{
  margin-bottom: 1.2vw;
  margin-left: 5vw;
  margin-right: 7vw;
}

.profile-ranked-title
{
  font-size: 1.7vw;
}

.solo-stats
{
  position: absolute;
  margin-left: 4vw;
}

.flex-stats
{
  margin-left: 30vw;
}

.stats-list
{
  list-style: none;
  font-size: 1.5vw;
  padding-left: 1.5vw;
}
/* STYLING FOR STATS ON PROFILE */



/* STYLING FOR FAVEPLAYERS ON PROFILE */
.profile-faveplayers-form
{
  margin-left: 7vw;
  font-size: 0.9vw;
}

.profile-faveplayers-input
{
  text-align: center;  
  width: 16vw;
}

.profile-teammates
{
  list-style: none;
  margin-left: 5vw;
  padding: 0 2vw;
  font-size: 1.2vw;
}

.each-profile-teammate
{
  display: inline-block;
  margin-top: 1vw;
  margin-right: 3.5vw;
}

h5
{
  font-size: 1.5vw;
  margin: 0;
}

.profile-teammates-link
{
  margin: 0;
}
/* STYLING FOR FAVEPLAYERS ON PROFILE */



/* STYLING FOR FAVECHAMPS ON PROFILE */
.profile-champs
{
  font-size: 1.7vw;
  margin-left: 7vw;
  margin-right: 7vw;
  list-style: none;
  padding: 0;
}

.each-profile-champ
{
  display: inline-block;
  margin-top: 1vw;
  margin-right: 3.5vw;
}

.each-profile-champ>p
{
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.profile-faveChamps-splash
{
  width: 12vw;
  padding: 0 2vw 0 2vw;
}

.profile-champs-link
{
  font-size: 1.3vw;
  color: rgb(111, 234, 250);
}

.profile-champs-link:hover
{
  color: rgb(111, 234, 250);
}
/* STYLING FOR FAVECHAMPS ON PROFILE */