.ALL-CHAMPIONS
{
  background-image: url("../images/LOL-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.ONE-CHAMPION
{
  background-image: url("../images/LOL-bg-dark.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

nav ul li 
{
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

.brand-logo
{
  max-width: 4vw;
  max-height: 4vw;
  object-fit: cover;
}

hr.in-title
{
  margin-left: 4vw;
  margin-right: 3vw;
  margin-bottom: 2vw;
  border: 1px solid white;
}

hr.in-page
{
  margin-left: 4vw;
  margin-right: 3vw;
  margin-bottom: 2vw;
  border: 1px solid rgb(150, 150, 150);
}

.home-title
{
  font-size: 3vw;
  margin-left: 5vw;
}

.home-subtitle
{
  margin-left: 5vw;

}

.highlights
{
  width: 40vw;
  height: 23vw;
  margin-left: 5vw;
}