<h1 class="champ-home-title">League of Legends Champions</h1>

<hr class="in-title">

<div class="all-champs row row-cols-1 row-cols-md-5">

<% allNames.forEach(name =>
{ %>
    <div class="card bg-dark text-white">
        <a class="card-link" href="/champs/<%= allChamps[name].id %>">
            <img class="champ-icon" src="<%= champImages[allNames.indexOf(name)] %>" class="card-img">
            <div class="card-img-overlay">
                <h5 class="card-title"><%= allChamps[name].name %></h5>
            </div>
        </a>
    </div>  
<% }) %>
</div>
