<h1>League of Legends Champions</h1>

<div class="row row-cols-1 row-cols-md-5">
<% allNames.forEach(name =>
{ %>
    <div class="card bg-dark text-white">
        <a href="/champs/<%= name %>">
            <img class="champ-icon" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/<%= name %>_0.jpg" class="card-img">
            <div class="card-img-overlay">
                <h5 class="card-title"><%= allChamps[name].name %></h5>
            </div>
        </a>
    </div>  
<% }) %>
</div>
